.conteiner{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    background-color: #F5F5F5;
    border: 2px solid greenyellow;
}
header{
    max-width: 93.5%;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    top: 0;
    border: 2px solid #74b42c;

}
.headerdiv{
    max-width: 100%;
    width: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: absolute;
    background-color: #FFFFFF;
    position: fixed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 2px solid red;

      
}
.zoo{
    padding-left: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.burger{
    margin-left: 368.8px;
    padding-top: 47px;
  
}
nav{
    display: flex;
    justify-content: space-around;
    gap: 28px;
    padding-top: 33px;
    margin-left: 370px;
   margin-right: 45px;


}
/* /////////////////////////// */
.dog{
    margin: 0 auto;
    margin-top: 180px;
    padding-left: 45px;
    display: flex;
    object-fit: cover;
    position: relative;
}
.sale{
    
    width: 354px;
    height: 96px;
    font-size: 24px;
    text-align: center;
    z-index: 2;
    color: #ffffff;
    margin-left: 490px;
    margin-top: 128px;
    display: flex;
    position: absolute;
}
button{
    width: 176px;
    height: 42px;
    position: absolute;
    justify-content: center;
    font-size: 12px;
    margin-top: 240px;
    margin-left: 580px;


}

.section1{
    max-width: 90%;
    margin: 0 auto;
    margin-top: 57px;
    justify-content: space-between;


}
h1{
    font-size: 28px;
}
.bigbox{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.cards{
    width: 277px;
    height: 475px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;

}
.reklama{
    width: 165.33px;
    height: 160px;
    margin: 0 auto;

}
.prodactname{
    margin-top: 31.2px;
    margin-left: 30px;
   font-size: 18px;

}
.pictografia{
    margin-top: 9px;
    margin-left: 30px;
    font-size: 12px;

}
.gram6{
    width: 105px;
    height: 35px;
    font-size: 13px;
    margin-top: 307px;
    margin-left: 30px;

}
.kilgr{
    width: 105px;
    height: 35px;
    font-size: 13px;
    margin-top: 307px;
    margin-left: 142px;
}
.price{
    width: 93px;
   margin-left: 32px;
   margin-top: 164px;
    font-size: 24px;
}
.price1{
    margin-left: 32px;
    margin-top: 164px;
    font-size: 14px;

}
.cart{
    width: 34px;
    height: 34px;
    background-color: #74b42c;
    margin-left: 213px;
    margin-top: -32px;

}
/* /////////////////// */

footer{
    max-width: 90%;
    width: 100%;
    height: 121px;
    margin: 0 auto;
}
.footdiv{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 121px;
    margin-top: 173px;


}
.zoo1{
    width: 141.48px;
    height: 20px;
    margin-top: 50px;
    margin-left: 0

}
.contact{
    width: 176px;
    height: 121px;
    display: flex;
    flex-wrap: wrap;
    



}
h2{
    font-size: 14px;
}